.chatWrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.hintAnchor {
  position: relative;
}

.tabContent {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
